In [1]:
import pandas as pd
import numpy as np
import os

In [6]:
! rm -f ensemble/ensebmle*.csv
filepath = 'ensemble'
filelist = os.listdir(filepath)
filelist = list(map(lambda u : 'ensemble/'+ u, filelist))
filelist

['ensemble/mod_0.512-1.csv',
 'ensemble/mod_0.513.csv',
 'ensemble/mod_0.512-2.csv',
 'ensemble/mod_0.514.csv',
 'ensemble/mod_0.515.csv',
 'ensemble/mod_0.512-3.csv']

In [7]:
col_list = ['sub{}'.format(i) for i in range(len(filelist))]
outs = [pd.read_csv(f, index_col=0) for f in filelist]
concat_df = pd.concat(outs, axis=1)
concat_df.columns=col_list
concat_df['unit_sales'] = concat_df.mean(axis=1)
concat_df[['unit_sales']].to_csv('ensemble/ensebmle1.csv', float_format='%.5f')

/home/kylin/anaconda3/lib/python3.6/site-packages/numpy/lib/arraysetops.py:395: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= (ar1 == a)

In [8]:
concat_df.head()

             sub0    sub1    sub2    sub3    sub4    sub5  unit_sales
id
125497040  0.2347  0.2092  0.2241  0.1791  0.2040  0.2403    0.215233
125497041  0.3999  0.3367  0.3991  0.2963  0.3582  0.4131    0.367217
125497042  0.0000  0.0000  0.0000  0.0000  0.0000  0.0000    0.000000
125497043  1.2458  1.1830  1.3459  1.0321  1.2639  1.3293    1.233333
125497044  2.3567  2.1701  2.2683  1.9833  2.0300  2.3553    2.193950

In [9]:
t = pd.read_csv('ensemble/ensebmle1.csv')
t.head()

          id  unit_sales
0  125497040     0.21523
1  125497041     0.36722
2  125497042     0.00000
3  125497043     1.23333
4  125497044     2.19395