In [1]:
import pandas as pd
import numpy as np
from datetime import date, timedelta

In [2]:
t_2017 = date(2017,5,31)
for i in range(6):
    delta = timedelta(days = 7 * i)
    print(t_2017 + delta)

2017-05-31
2017-06-07
2017-06-14
2017-06-21
2017-06-28
2017-07-05

In [4]:
df_2017 = date(2017,5,31)
for i in range(7):
    t = pd.date_range(df_2017 - timedelta(28-i), periods=4, freq='7D')
    print(t)

DatetimeIndex(['2017-05-03', '2017-05-10', '2017-05-17', '2017-05-24'], dtype='datetime64[ns]', freq='7D')
DatetimeIndex(['2017-05-04', '2017-05-11', '2017-05-18', '2017-05-25'], dtype='datetime64[ns]', freq='7D')
DatetimeIndex(['2017-05-05', '2017-05-12', '2017-05-19', '2017-05-26'], dtype='datetime64[ns]', freq='7D')
DatetimeIndex(['2017-05-06', '2017-05-13', '2017-05-20', '2017-05-27'], dtype='datetime64[ns]', freq='7D')
DatetimeIndex(['2017-05-07', '2017-05-14', '2017-05-21', '2017-05-28'], dtype='datetime64[ns]', freq='7D')
DatetimeIndex(['2017-05-08', '2017-05-15', '2017-05-22', '2017-05-29'], dtype='datetime64[ns]', freq='7D')
DatetimeIndex(['2017-05-09', '2017-05-16', '2017-05-23', '2017-05-30'], dtype='datetime64[ns]', freq='7D')

In [53]:
pd.date_range(df_2017 - timedelta(0), periods=1)

DatetimeIndex(['2017-05-31'], dtype='datetime64[ns]', freq='D')

In [5]:
for i in range(7):
    t = pd.date_range(df_2017 - timedelta(140-i), periods=20, freq='7D')
    print(t)

DatetimeIndex(['2017-01-11', '2017-01-18', '2017-01-25', '2017-02-01',
               '2017-02-08', '2017-02-15', '2017-02-22', '2017-03-01',
               '2017-03-08', '2017-03-15', '2017-03-22', '2017-03-29',
               '2017-04-05', '2017-04-12', '2017-04-19', '2017-04-26',
               '2017-05-03', '2017-05-10', '2017-05-17', '2017-05-24'],
              dtype='datetime64[ns]', freq='7D')
DatetimeIndex(['2017-01-12', '2017-01-19', '2017-01-26', '2017-02-02',
               '2017-02-09', '2017-02-16', '2017-02-23', '2017-03-02',
               '2017-03-09', '2017-03-16', '2017-03-23', '2017-03-30',
               '2017-04-06', '2017-04-13', '2017-04-20', '2017-04-27',
               '2017-05-04', '2017-05-11', '2017-05-18', '2017-05-25'],
              dtype='datetime64[ns]', freq='7D')
DatetimeIndex(['2017-01-13', '2017-01-20', '2017-01-27', '2017-02-03',
               '2017-02-10', '2017-02-17', '2017-02-24', '2017-03-03',
               '2017-03-10', '2017-03-17', '2017-03-24', '2017-03-31',
               '2017-04-07', '2017-04-14', '2017-04-21', '2017-04-28',
               '2017-05-05', '2017-05-12', '2017-05-19', '2017-05-26'],
              dtype='datetime64[ns]', freq='7D')
DatetimeIndex(['2017-01-14', '2017-01-21', '2017-01-28', '2017-02-04',
               '2017-02-11', '2017-02-18', '2017-02-25', '2017-03-04',
               '2017-03-11', '2017-03-18', '2017-03-25', '2017-04-01',
               '2017-04-08', '2017-04-15', '2017-04-22', '2017-04-29',
               '2017-05-06', '2017-05-13', '2017-05-20', '2017-05-27'],
              dtype='datetime64[ns]', freq='7D')
DatetimeIndex(['2017-01-15', '2017-01-22', '2017-01-29', '2017-02-05',
               '2017-02-12', '2017-02-19', '2017-02-26', '2017-03-05',
               '2017-03-12', '2017-03-19', '2017-03-26', '2017-04-02',
               '2017-04-09', '2017-04-16', '2017-04-23', '2017-04-30',
               '2017-05-07', '2017-05-14', '2017-05-21', '2017-05-28'],
              dtype='datetime64[ns]', freq='7D')
DatetimeIndex(['2017-01-16', '2017-01-23', '2017-01-30', '2017-02-06',
               '2017-02-13', '2017-02-20', '2017-02-27', '2017-03-06',
               '2017-03-13', '2017-03-20', '2017-03-27', '2017-04-03',
               '2017-04-10', '2017-04-17', '2017-04-24', '2017-05-01',
               '2017-05-08', '2017-05-15', '2017-05-22', '2017-05-29'],
              dtype='datetime64[ns]', freq='7D')
DatetimeIndex(['2017-01-17', '2017-01-24', '2017-01-31', '2017-02-07',
               '2017-02-14', '2017-02-21', '2017-02-28', '2017-03-07',
               '2017-03-14', '2017-03-21', '2017-03-28', '2017-04-04',
               '2017-04-11', '2017-04-18', '2017-04-25', '2017-05-02',
               '2017-05-09', '2017-05-16', '2017-05-23', '2017-05-30'],
              dtype='datetime64[ns]', freq='7D')

In [6]:
df_holiday = pd.read_csv('database/holidays_events.csv', 
                        parse_dates = ['date'],
                        dtype={'transferred':bool})

holiday_2017 = df_holiday.loc[df_holiday.date >= pd.datetime(2017,1,1)]
holiday_2017 = holiday_2017.loc[holiday_2017['transferred'] == False]
holiday_2017

,date,type,locale,locale_name,description,transferred
298,2017-01-02,Transfer,National,Ecuador,Traslado Primer dia del ano,False
299,2017-02-27,Holiday,National,Ecuador,Carnaval,False
300,2017-02-28,Holiday,National,Ecuador,Carnaval,False
301,2017-03-02,Holiday,Local,Manta,Fundacion de Manta,False
302,2017-04-01,Holiday,Regional,Cotopaxi,Provincializacion de Cotopaxi,False
304,2017-04-13,Transfer,Local,Cuenca,Fundacion de Cuenca,False
305,2017-04-14,Holiday,Local,Libertad,Cantonizacion de Libertad,False
306,2017-04-14,Holiday,National,Ecuador,Viernes Santo,False
307,2017-04-21,Holiday,Local,Riobamba,Cantonizacion de Riobamba,False
308,2017-05-01,Holiday,National,Ecuador,Dia del Trabajo,False
309,2017-05-12,Holiday,Local,Puyo,Cantonizacion del Puyo,False
310,2017-05-13,Additional,National,Ecuador,Dia de la Madre-1,False
311,2017-05-14,Event,National,Ecuador,Dia de la Madre,False
313,2017-05-26,Transfer,National,Ecuador,Traslado Batalla de Pichincha,False
314,2017-06-23,Holiday,Local,Guaranda,Cantonizacion de Guaranda,False
315,2017-06-25,Holiday,Regional,Imbabura,Provincializacion de Imbabura,False
316,2017-06-25,Holiday,Local,Latacunga,Cantonizacion de Latacunga,False
317,2017-06-25,Holiday,Local,Machala,Fundacion de Machala,False
318,2017-07-03,Holiday,Local,El Carmen,Cantonizacion de El Carmen,False
319,2017-07-03,Holiday,Local,Santo Domingo,Fundacion de Santo Domingo,False
320,2017-07-23,Holiday,Local,Cayambe,Cantonizacion de Cayambe,False
321,2017-07-24,Additional,Local,Guayaquil,Fundacion de Guayaquil-1,False
322,2017-07-25,Additional,Local,Guayaquil,Fundacion de Guayaquil,False
323,2017-08-05,Holiday,Local,Esmeraldas,Fundacion de Esmeraldas,False
325,2017-08-11,Transfer,National,Ecuador,Traslado Primer Grito de Independencia,False
326,2017-08-15,Holiday,Local,Riobamba,Fundacion de Riobamba,False
327,2017-08-24,Holiday,Local,Ambato,Fundacion de Ambato,False
329,2017-09-29,Transfer,Local,Ibarra,Fundacion de Ibarra,False
330,2017-10-07,Holiday,Local,Quevedo,Cantonizacion de Quevedo,False
331,2017-10-09,Holiday,National,Ecuador,Independencia de Guayaquil,False
332,2017-11-02,Holiday,National,Ecuador,Dia de Difuntos,False
333,2017-11-03,Holiday,National,Ecuador,Independencia de Cuenca,False
334,2017-11-06,Holiday,Regional,Santo Domingo de los Tsachilas,Provincializacion de Santo Domingo,False
335,2017-11-07,Holiday,Regional,Santa Elena,Provincializacion Santa Elena,False
336,2017-11-10,Holiday,Local,Guaranda,Independencia de Guaranda,False
337,2017-11-11,Holiday,Local,Latacunga,Independencia de Latacunga,False
338,2017-11-12,Holiday,Local,Ambato,Independencia de Ambato,False
339,2017-12-05,Additional,Local,Quito,Fundacion de Quito-1,False
341,2017-12-08,Holiday,Local,Loja,Fundacion de Loja,False
342,2017-12-08,Transfer,Local,Quito,Traslado Fundacion de Quito,False
343,2017-12-21,Additional,National,Ecuador,Navidad-4,False
344,2017-12-22,Holiday,Local,Salinas,Cantonizacion de Salinas,False
345,2017-12-22,Additional,National,Ecuador,Navidad-3,False
346,2017-12-23,Additional,National,Ecuador,Navidad-2,False
347,2017-12-24,Additional,National,Ecuador,Navidad-1,False
348,2017-12-25,Holiday,National,Ecuador,Navidad,False
349,2017-12-26,Additional,National,Ecuador,Navidad+1,False

In [8]:
firstday = date(2017,1,1)
endday = date(2017,9,1)
periods = endday - firstday
all_days = pd.date_range(firstday, periods=periods.days, freq='D')

In [9]:
weekend_tmp = map(lambda day: True if(day.dayofweek >=5) else False, all_days)

weekend = []
for i in weekend_tmp:
    weekend.append(i)
    
df_weekend = pd.DataFrame({'date':all_days, 'weekend_or_holiday': weekend })
df_weekend

          date  weekend_or_holiday
0   2017-01-01                True
1   2017-01-02               False
2   2017-01-03               False
3   2017-01-04               False
4   2017-01-05               False
5   2017-01-06               False
6   2017-01-07                True
7   2017-01-08                True
8   2017-01-09               False
9   2017-01-10               False
10  2017-01-11               False
11  2017-01-12               False
12  2017-01-13               False
13  2017-01-14                True
14  2017-01-15                True
15  2017-01-16               False
16  2017-01-17               False
17  2017-01-18               False
18  2017-01-19               False
19  2017-01-20               False
20  2017-01-21                True
21  2017-01-22                True
22  2017-01-23               False
23  2017-01-24               False
24  2017-01-25               False
25  2017-01-26               False
26  2017-01-27               False
27  2017-01-28                True
28  2017-01-29                True
29  2017-01-30               False
..         ...                 ...
213 2017-08-02               False
214 2017-08-03               False
215 2017-08-04               False
216 2017-08-05                True
217 2017-08-06                True
218 2017-08-07               False
219 2017-08-08               False
220 2017-08-09               False
221 2017-08-10               False
222 2017-08-11               False
223 2017-08-12                True
224 2017-08-13                True
225 2017-08-14               False
226 2017-08-15               False
227 2017-08-16               False
228 2017-08-17               False
229 2017-08-18               False
230 2017-08-19                True
231 2017-08-20                True
232 2017-08-21               False
233 2017-08-22               False
234 2017-08-23               False
235 2017-08-24               False
236 2017-08-25               False
237 2017-08-26                True
238 2017-08-27                True
239 2017-08-28               False
240 2017-08-29               False
241 2017-08-30               False
242 2017-08-31               False

[243 rows x 2 columns]

In [11]:
tmp = holiday_2017['date'].values
for i in range(len(tmp)):
    df_weekend.loc[df_weekend['date'] == tmp[i], 'weekend_or_holiday'] = True

In [12]:
df_weekend

          date  weekend_or_holiday
0   2017-01-01                True
1   2017-01-02                True
2   2017-01-03               False
3   2017-01-04               False
4   2017-01-05               False
5   2017-01-06               False
6   2017-01-07                True
7   2017-01-08                True
8   2017-01-09               False
9   2017-01-10               False
10  2017-01-11               False
11  2017-01-12               False
12  2017-01-13               False
13  2017-01-14                True
14  2017-01-15                True
15  2017-01-16               False
16  2017-01-17               False
17  2017-01-18               False
18  2017-01-19               False
19  2017-01-20               False
20  2017-01-21                True
21  2017-01-22                True
22  2017-01-23               False
23  2017-01-24               False
24  2017-01-25               False
25  2017-01-26               False
26  2017-01-27               False
27  2017-01-28                True
28  2017-01-29                True
29  2017-01-30               False
..         ...                 ...
213 2017-08-02               False
214 2017-08-03               False
215 2017-08-04               False
216 2017-08-05                True
217 2017-08-06                True
218 2017-08-07               False
219 2017-08-08               False
220 2017-08-09               False
221 2017-08-10               False
222 2017-08-11                True
223 2017-08-12                True
224 2017-08-13                True
225 2017-08-14               False
226 2017-08-15                True
227 2017-08-16               False
228 2017-08-17               False
229 2017-08-18               False
230 2017-08-19                True
231 2017-08-20                True
232 2017-08-21               False
233 2017-08-22               False
234 2017-08-23               False
235 2017-08-24                True
236 2017-08-25               False
237 2017-08-26                True
238 2017-08-27                True
239 2017-08-28               False
240 2017-08-29               False
241 2017-08-30               False
242 2017-08-31               False

[243 rows x 2 columns]

In [74]:
df_store = pd.read_csv('database/stores.csv')
df_store

    store_nbr           city                           state type  cluster
0           1          Quito                       Pichincha    D       13
1           2          Quito                       Pichincha    D       13
2           3          Quito                       Pichincha    D        8
3           4          Quito                       Pichincha    D        9
4           5  Santo Domingo  Santo Domingo de los Tsachilas    D        4
5           6          Quito                       Pichincha    D       13
6           7          Quito                       Pichincha    D        8
7           8          Quito                       Pichincha    D        8
8           9          Quito                       Pichincha    B        6
9          10          Quito                       Pichincha    C       15
10         11        Cayambe                       Pichincha    B        6
11         12      Latacunga                        Cotopaxi    C       15
12         13      Latacunga                        Cotopaxi    C       15
13         14       Riobamba                      Chimborazo    C        7
14         15         Ibarra                        Imbabura    C       15
15         16  Santo Domingo  Santo Domingo de los Tsachilas    C        3
16         17          Quito                       Pichincha    C       12
17         18          Quito                       Pichincha    B       16
18         19       Guaranda                         Bolivar    C       15
19         20          Quito                       Pichincha    B        6
20         21  Santo Domingo  Santo Domingo de los Tsachilas    B        6
21         22           Puyo                         Pastaza    C        7
22         23         Ambato                      Tungurahua    D        9
23         24      Guayaquil                          Guayas    D        1
24         25        Salinas                     Santa Elena    D        1
25         26      Guayaquil                          Guayas    D       10
26         27          Daule                          Guayas    D        1
27         28      Guayaquil                          Guayas    E       10
28         29      Guayaquil                          Guayas    E       10
29         30      Guayaquil                          Guayas    C        3
30         31       Babahoyo                        Los Rios    B       10
31         32      Guayaquil                          Guayas    C        3
32         33        Quevedo                        Los Rios    C        3
33         34      Guayaquil                          Guayas    B        6
34         35         Playas                          Guayas    C        3
35         36       Libertad                          Guayas    E       10
36         37         Cuenca                           Azuay    D        2
37         38           Loja                            Loja    D        4
38         39         Cuenca                           Azuay    B        6
39         40        Machala                          El Oro    C        3
40         41        Machala                          El Oro    D        4
41         42         Cuenca                           Azuay    D        2
42         43     Esmeraldas                      Esmeraldas    E       10
43         44          Quito                       Pichincha    A        5
44         45          Quito                       Pichincha    A       11
45         46          Quito                       Pichincha    A       14
46         47          Quito                       Pichincha    A       14
47         48          Quito                       Pichincha    A       14
48         49          Quito                       Pichincha    A       11
49         50         Ambato                      Tungurahua    A       14
50         51      Guayaquil                          Guayas    A       17
51         52          Manta                          Manabi    A       11
52         53          Manta                          Manabi    D       13
53         54      El Carmen                          Manabi    C        3

In [27]:
sotre_city = df_store['city'].unique()
sotre_city

array(['Quito', 'Santo Domingo', 'Cayambe', 'Latacunga', 'Riobamba',
       'Ibarra', 'Guaranda', 'Puyo', 'Ambato', 'Guayaquil', 'Salinas',
       'Daule', 'Babahoyo', 'Quevedo', 'Playas', 'Libertad', 'Cuenca',
       'Loja', 'Machala', 'Esmeraldas', 'Manta', 'El Carmen'], dtype=object)

In [28]:
df_store['state'].unique()

array(['Pichincha', 'Santo Domingo de los Tsachilas', 'Cotopaxi',
       'Chimborazo', 'Imbabura', 'Bolivar', 'Pastaza', 'Tungurahua',
       'Guayas', 'Santa Elena', 'Los Rios', 'Azuay', 'Loja', 'El Oro',
       'Esmeraldas', 'Manabi'], dtype=object)

In [29]:
len(df_store['city'].unique())

22

In [51]:
citys = pd.read_csv('database/city_population.csv')
citys

                             Name  2017 Population
0                       Guayaquil          1952029
1                           Quito          1399814
2                          Cuenca           276964
3                   Santo Domingo           200421
4                         Machala           198123
5                           Manta           183166
6                      Portoviejo           170326
7                     Eloy Alfaro           167784
8                      Esmeraldas           165216
9                          Ambato           154369
10                Tutamandahostel           140000
11                         Ibarra           132977
12                       Riobamba           124478
13                        Quevedo           119436
14                           Loja           117796
15                         Tulcan            86498
16                       Babahoyo            76279
17                    La Libertad            75881
18                      Latacunga            51717
19                 Velasco Ibarra            48754
20   Puerto Francisco de Orellana            48144
21                       Ventanas            46708
22                         Pasaje            44860
23                          Chone            44751
24                        Salinas            43862
25                    Santa Elena            42214
26                    Rosa Zarate            42121
27                     Santa Rosa            41816
28                         Balzar            40115
29                     Huaquillas            39757
..                            ...              ...
75                         Zaruma            12505
76                          Balao            12205
77                         Valdez            11441
78                      Catacocha            10872
79          San Miguel de Salcedo            10838
80                     Rocafuerte            10274
81                       Yantzaza             9970
82                          Canar             9900
83                       Catarama             9723
84                      Portovelo             9708
85                          Banos             9501
86                        Colimes             9384
87                      Palestina             9364
88                          Pajan             9183
89                          Junin             9128
90                       Palenque             9083
91                   Puerto Ayora             8996
92                 Puerto Bolivar             8300
93                      Cotacachi             8238
94           Lomas de Sargentillo             7542
95                        Pillaro             7462
96                          Sucua             7413
97                      Pimampiro             7408
98                      Archidona             7309
99    Coronel Marcelino Mariduena             7303
100                        Palora             6472
101                    Pedernales             5983
102                        Celica             5499
103                     Sangolqui             5114
104       Puerto Baquerizo Moreno             4214

[105 rows x 2 columns]

In [31]:
big_citys = citys[citys['2017 Population'] >= 1000000]['Name'].values
big_citys

array(['Guayaquil', 'Quito'], dtype=object)

In [32]:
middle_citys = citys.loc[(citys['2017 Population'] >= 100000) & (citys['2017 Population'] < 1000000)]['Name'].values
middle_citys

array(['Cuenca', 'Santo Domingo', 'Machala', 'Manta', 'Portoviejo',
       'Eloy Alfaro', 'Esmeraldas', 'Ambato', 'Tutamandahostel', 'Ibarra',
       'Riobamba', 'Quevedo', 'Loja'], dtype=object)

In [45]:
df_store['big_city'] = False
df_store['middle_city'] = False
df_store['little_city'] = False

In [46]:
df_store

,store_nbr,city,state,type,cluster,big_city,middle_city,little_city
0,1,Quito,Pichincha,D,13,False,False,False
1,2,Quito,Pichincha,D,13,False,False,False
2,3,Quito,Pichincha,D,8,False,False,False
3,4,Quito,Pichincha,D,9,False,False,False
4,5,Santo Domingo,Santo Domingo de los Tsachilas,D,4,False,False,False
5,6,Quito,Pichincha,D,13,False,False,False
6,7,Quito,Pichincha,D,8,False,False,False
7,8,Quito,Pichincha,D,8,False,False,False
8,9,Quito,Pichincha,B,6,False,False,False
9,10,Quito,Pichincha,C,15,False,False,False
10,11,Cayambe,Pichincha,B,6,False,False,False
11,12,Latacunga,Cotopaxi,C,15,False,False,False
12,13,Latacunga,Cotopaxi,C,15,False,False,False
13,14,Riobamba,Chimborazo,C,7,False,False,False
14,15,Ibarra,Imbabura,C,15,False,False,False
15,16,Santo Domingo,Santo Domingo de los Tsachilas,C,3,False,False,False
16,17,Quito,Pichincha,C,12,False,False,False
17,18,Quito,Pichincha,B,16,False,False,False
18,19,Guaranda,Bolivar,C,15,False,False,False
19,20,Quito,Pichincha,B,6,False,False,False
20,21,Santo Domingo,Santo Domingo de los Tsachilas,B,6,False,False,False
21,22,Puyo,Pastaza,C,7,False,False,False
22,23,Ambato,Tungurahua,D,9,False,False,False
23,24,Guayaquil,Guayas,D,1,False,False,False
24,25,Salinas,Santa Elena,D,1,False,False,False
25,26,Guayaquil,Guayas,D,10,False,False,False
26,27,Daule,Guayas,D,1,False,False,False
27,28,Guayaquil,Guayas,E,10,False,False,False
28,29,Guayaquil,Guayas,E,10,False,False,False
29,30,Guayaquil,Guayas,C,3,False,False,False
30,31,Babahoyo,Los Rios,B,10,False,False,False
31,32,Guayaquil,Guayas,C,3,False,False,False
32,33,Quevedo,Los Rios,C,3,False,False,False
33,34,Guayaquil,Guayas,B,6,False,False,False
34,35,Playas,Guayas,C,3,False,False,False
35,36,Libertad,Guayas,E,10,False,False,False
36,37,Cuenca,Azuay,D,2,False,False,False
37,38,Loja,Loja,D,4,False,False,False
38,39,Cuenca,Azuay,B,6,False,False,False
39,40,Machala,El Oro,C,3,False,False,False
40,41,Machala,El Oro,D,4,False,False,False
41,42,Cuenca,Azuay,D,2,False,False,False
42,43,Esmeraldas,Esmeraldas,E,10,False,False,False
43,44,Quito,Pichincha,A,5,False,False,False
44,45,Quito,Pichincha,A,11,False,False,False
45,46,Quito,Pichincha,A,14,False,False,False
46,47,Quito,Pichincha,A,14,False,False,False
47,48,Quito,Pichincha,A,14,False,False,False
48,49,Quito,Pichincha,A,11,False,False,False
49,50,Ambato,Tungurahua,A,14,False,False,False
50,51,Guayaquil,Guayas,A,17,False,False,False
51,52,Manta,Manabi,A,11,False,False,False
52,53,Manta,Manabi,D,13,False,False,False
53,54,El Carmen,Manabi,C,3,False,False,False

In [49]:
df_store['big_city'] = df_store['city'].map(lambda u :True if u in big_citys else False).astype(bool)
df_store['middle_city'] = df_store['city'].map(lambda u: True if u in middle_citys else False).astype(bool)
df_store['little_city'] = df_store['city'].map(lambda u: True if u not in big_citys and u not in middle_citys else False).astype(bool)

In [50]:
df_store

,store_nbr,city,state,type,cluster,big_city,middle_city,little_city
0,1,Quito,Pichincha,D,13,True,False,False
1,2,Quito,Pichincha,D,13,True,False,False
2,3,Quito,Pichincha,D,8,True,False,False
3,4,Quito,Pichincha,D,9,True,False,False
4,5,Santo Domingo,Santo Domingo de los Tsachilas,D,4,False,True,False
5,6,Quito,Pichincha,D,13,True,False,False
6,7,Quito,Pichincha,D,8,True,False,False
7,8,Quito,Pichincha,D,8,True,False,False
8,9,Quito,Pichincha,B,6,True,False,False
9,10,Quito,Pichincha,C,15,True,False,False
10,11,Cayambe,Pichincha,B,6,False,False,True
11,12,Latacunga,Cotopaxi,C,15,False,False,True
12,13,Latacunga,Cotopaxi,C,15,False,False,True
13,14,Riobamba,Chimborazo,C,7,False,True,False
14,15,Ibarra,Imbabura,C,15,False,True,False
15,16,Santo Domingo,Santo Domingo de los Tsachilas,C,3,False,True,False
16,17,Quito,Pichincha,C,12,True,False,False
17,18,Quito,Pichincha,B,16,True,False,False
18,19,Guaranda,Bolivar,C,15,False,False,True
19,20,Quito,Pichincha,B,6,True,False,False
20,21,Santo Domingo,Santo Domingo de los Tsachilas,B,6,False,True,False
21,22,Puyo,Pastaza,C,7,False,False,True
22,23,Ambato,Tungurahua,D,9,False,True,False
23,24,Guayaquil,Guayas,D,1,True,False,False
24,25,Salinas,Santa Elena,D,1,False,False,True
25,26,Guayaquil,Guayas,D,10,True,False,False
26,27,Daule,Guayas,D,1,False,False,True
27,28,Guayaquil,Guayas,E,10,True,False,False
28,29,Guayaquil,Guayas,E,10,True,False,False
29,30,Guayaquil,Guayas,C,3,True,False,False
30,31,Babahoyo,Los Rios,B,10,False,False,True
31,32,Guayaquil,Guayas,C,3,True,False,False
32,33,Quevedo,Los Rios,C,3,False,True,False
33,34,Guayaquil,Guayas,B,6,True,False,False
34,35,Playas,Guayas,C,3,False,False,True
35,36,Libertad,Guayas,E,10,False,False,True
36,37,Cuenca,Azuay,D,2,False,True,False
37,38,Loja,Loja,D,4,False,True,False
38,39,Cuenca,Azuay,B,6,False,True,False
39,40,Machala,El Oro,C,3,False,True,False
40,41,Machala,El Oro,D,4,False,True,False
41,42,Cuenca,Azuay,D,2,False,True,False
42,43,Esmeraldas,Esmeraldas,E,10,False,True,False
43,44,Quito,Pichincha,A,5,True,False,False
44,45,Quito,Pichincha,A,11,True,False,False
45,46,Quito,Pichincha,A,14,True,False,False
46,47,Quito,Pichincha,A,14,True,False,False
47,48,Quito,Pichincha,A,14,True,False,False
48,49,Quito,Pichincha,A,11,True,False,False
49,50,Ambato,Tungurahua,A,14,False,True,False
50,51,Guayaquil,Guayas,A,17,True,False,False
51,52,Manta,Manabi,A,11,False,True,False
52,53,Manta,Manabi,D,13,False,True,False
53,54,El Carmen,Manabi,C,3,False,False,True

In [52]:
df_store = df_store[['store_nbr', 'big_city','middle_city','little_city']]
df_store

    store_nbr  big_city  middle_city  little_city
0           1      True        False        False
1           2      True        False        False
2           3      True        False        False
3           4      True        False        False
4           5     False         True        False
5           6      True        False        False
6           7      True        False        False
7           8      True        False        False
8           9      True        False        False
9          10      True        False        False
10         11     False        False         True
11         12     False        False         True
12         13     False        False         True
13         14     False         True        False
14         15     False         True        False
15         16     False         True        False
16         17      True        False        False
17         18      True        False        False
18         19     False        False         True
19         20      True        False        False
20         21     False         True        False
21         22     False        False         True
22         23     False         True        False
23         24      True        False        False
24         25     False        False         True
25         26      True        False        False
26         27     False        False         True
27         28      True        False        False
28         29      True        False        False
29         30      True        False        False
30         31     False        False         True
31         32      True        False        False
32         33     False         True        False
33         34      True        False        False
34         35     False        False         True
35         36     False        False         True
36         37     False         True        False
37         38     False         True        False
38         39     False         True        False
39         40     False         True        False
40         41     False         True        False
41         42     False         True        False
42         43     False         True        False
43         44      True        False        False
44         45      True        False        False
45         46      True        False        False
46         47      True        False        False
47         48      True        False        False
48         49      True        False        False
49         50     False         True        False
50         51      True        False        False
51         52     False         True        False
52         53     False         True        False
53         54     False        False         True

In [58]:
df_items = pd.read_csv('database/items.csv')
df_items

      item_nbr            family  class  perishable
0        96995         GROCERY I   1093           0
1        99197         GROCERY I   1067           0
2       103501          CLEANING   3008           0
3       103520         GROCERY I   1028           0
4       103665      BREAD/BAKERY   2712           1
5       105574         GROCERY I   1045           0
6       105575         GROCERY I   1045           0
7       105576         GROCERY I   1045           0
8       105577         GROCERY I   1045           0
9       105693         GROCERY I   1034           0
10      105737         GROCERY I   1044           0
11      105857         GROCERY I   1092           0
12      106716         GROCERY I   1032           0
13      108079         GROCERY I   1030           0
14      108634         GROCERY I   1075           0
15      108696              DELI   2636           1
16      108698              DELI   2644           1
17      108701              DELI   2644           1
18      108786          CLEANING   3044           0
19      108797         GROCERY I   1004           0
20      108831           POULTRY   2416           1
21      108833              EGGS   2502           1
22      108862         GROCERY I   1062           0
23      108952          CLEANING   3024           0
24      111223         GROCERY I   1034           0
25      111397         GROCERY I   1072           0
26      112830         GROCERY I   1044           0
27      114778         GROCERY I   1016           0
28      114790         GROCERY I   1004           0
29      114799     PERSONAL CARE   4126           0
...        ...               ...    ...         ...
4070   2127992         GROCERY I   1028           0
4071   2128628         BEVERAGES   1122           0
4072   2128799         BEVERAGES   1148           0
4073   2129334         GROCERY I   1086           0
4074   2129350         GROCERY I   1086           0
4075   2129387         GROCERY I   1068           0
4076   2129515         GROCERY I   1042           0
4077   2129616         BEVERAGES   1124           0
4078   2129678         GROCERY I   1030           0
4079   2129786         GROCERY I   1016           0
4080   2129790         GROCERY I   1094           0
4081   2129892         GROCERY I   1092           0
4082   2129994         GROCERY I   1092           0
4083   2130131         GROCERY I   1092           0
4084   2130219         GROCERY I   1094           0
4085   2130265         GROCERY I   1094           0
4086   2130352         GROCERY I   1094           0
4087   2130474         GROCERY I   1064           0
4088   2130521         GROCERY I   1040           0
4089   2130526         GROCERY I   1030           0
4090   2130553  LIQUOR,WINE,BEER   1318           0
4091   2131010  LIQUOR,WINE,BEER   1328           0
4092   2131572         GROCERY I   1002           0
4093   2131699         GROCERY I   1002           0
4094   2132163         GROCERY I   1040           0
4095   2132318         GROCERY I   1002           0
4096   2132945         GROCERY I   1026           0
4097   2132957         GROCERY I   1068           0
4098   2134058         BEVERAGES   1124           0
4099   2134244  LIQUOR,WINE,BEER   1364           0

[4100 rows x 4 columns]

In [59]:
df_items['family_nbr'] = df_items['family'].astype('category').cat.codes

In [60]:
df_items.head()

   item_nbr        family  class  perishable  family_nbr
0     96995     GROCERY I   1093           0          12
1     99197     GROCERY I   1067           0          12
2    103501      CLEANING   3008           0           7
3    103520     GROCERY I   1028           0          12
4    103665  BREAD/BAKERY   2712           1           5

In [61]:
df_items['class_nbr'] = df_items['class'].astype('category').cat.codes
df_items.head()

   item_nbr        family  class  perishable  family_nbr  class_nbr
0     96995     GROCERY I   1093           0          12         64
1     99197     GROCERY I   1067           0          12         44
2    103501      CLEANING   3008           0           7        217
3    103520     GROCERY I   1028           0          12         17
4    103665  BREAD/BAKERY   2712           1           5        187

In [62]:
df_items

      item_nbr            family  class  perishable  family_nbr  class_nbr
0        96995         GROCERY I   1093           0          12         64
1        99197         GROCERY I   1067           0          12         44
2       103501          CLEANING   3008           0           7        217
3       103520         GROCERY I   1028           0          12         17
4       103665      BREAD/BAKERY   2712           1           5        187
5       105574         GROCERY I   1045           0          12         31
6       105575         GROCERY I   1045           0          12         31
7       105576         GROCERY I   1045           0          12         31
8       105577         GROCERY I   1045           0          12         31
9       105693         GROCERY I   1034           0          12         22
10      105737         GROCERY I   1044           0          12         30
11      105857         GROCERY I   1092           0          12         63
12      106716         GROCERY I   1032           0          12         20
13      108079         GROCERY I   1030           0          12         19
14      108634         GROCERY I   1075           0          12         50
15      108696              DELI   2636           1           9        173
16      108698              DELI   2644           1           9        176
17      108701              DELI   2644           1           9        176
18      108786          CLEANING   3044           0           7        236
19      108797         GROCERY I   1004           0          12          2
20      108831           POULTRY   2416           1          28        166
21      108833              EGGS   2502           1          10        168
22      108862         GROCERY I   1062           0          12         40
23      108952          CLEANING   3024           0           7        226
24      111223         GROCERY I   1034           0          12         22
25      111397         GROCERY I   1072           0          12         47
26      112830         GROCERY I   1044           0          12         30
27      114778         GROCERY I   1016           0          12         10
28      114790         GROCERY I   1004           0          12          2
29      114799     PERSONAL CARE   4126           0          25        250
...        ...               ...    ...         ...         ...        ...
4070   2127992         GROCERY I   1028           0          12         17
4071   2128628         BEVERAGES   1122           0           3         72
4072   2128799         BEVERAGES   1148           0           3         81
4073   2129334         GROCERY I   1086           0          12         59
4074   2129350         GROCERY I   1086           0          12         59
4075   2129387         GROCERY I   1068           0          12         45
4076   2129515         GROCERY I   1042           0          12         29
4077   2129616         BEVERAGES   1124           0           3         73
4078   2129678         GROCERY I   1030           0          12         19
4079   2129786         GROCERY I   1016           0          12         10
4080   2129790         GROCERY I   1094           0          12         65
4081   2129892         GROCERY I   1092           0          12         63
4082   2129994         GROCERY I   1092           0          12         63
4083   2130131         GROCERY I   1092           0          12         63
4084   2130219         GROCERY I   1094           0          12         65
4085   2130265         GROCERY I   1094           0          12         65
4086   2130352         GROCERY I   1094           0          12         65
4087   2130474         GROCERY I   1064           0          12         42
4088   2130521         GROCERY I   1040           0          12         27
4089   2130526         GROCERY I   1030           0          12         19
4090   2130553  LIQUOR,WINE,BEER   1318           0          22         95
4091   2131010  LIQUOR,WINE,BEER   1328           0          22         98
4092   2131572         GROCERY I   1002           0          12          0
4093   2131699         GROCERY I   1002           0          12          0
4094   2132163         GROCERY I   1040           0          12         27
4095   2132318         GROCERY I   1002           0          12          0
4096   2132945         GROCERY I   1026           0          12         15
4097   2132957         GROCERY I   1068           0          12         45
4098   2134058         BEVERAGES   1124           0           3         73
4099   2134244  LIQUOR,WINE,BEER   1364           0          22        103

[4100 rows x 6 columns]

In [63]:
df_test = pd.read_csv('database/test.csv', dtype={'onpromotion':bool},
                     parse_dates = ['date'],usecols=[0,1,2,3,4])

In [64]:
df_test.head()

          id       date  store_nbr  item_nbr  onpromotion
0  125497040 2017-08-16          1     96995        False
1  125497041 2017-08-16          1     99197        False
2  125497042 2017-08-16          1    103501        False
3  125497043 2017-08-16          1    103520        False
4  125497044 2017-08-16          1    103665        False

In [67]:
item_2017_test = pd.merge(df_test, df_items[['item_nbr', 'family_nbr', 'class_nbr']], how='left', on=['item_nbr'])
item_2017_test

,id,date,store_nbr,item_nbr,onpromotion,family_nbr,class_nbr
0,125497040,2017-08-16,1,96995,False,12,64
1,125497041,2017-08-16,1,99197,False,12,44
2,125497042,2017-08-16,1,103501,False,7,217
3,125497043,2017-08-16,1,103520,False,12,17
4,125497044,2017-08-16,1,103665,False,5,187
5,125497045,2017-08-16,1,105574,False,12,31
6,125497046,2017-08-16,1,105575,False,12,31
7,125497047,2017-08-16,1,105576,False,12,31
8,125497048,2017-08-16,1,105577,False,12,31
9,125497049,2017-08-16,1,105693,False,12,22
10,125497050,2017-08-16,1,105737,False,12,30
11,125497051,2017-08-16,1,105857,False,12,63
12,125497052,2017-08-16,1,106716,False,12,20
13,125497053,2017-08-16,1,108079,False,12,19
14,125497054,2017-08-16,1,108634,False,12,50
15,125497055,2017-08-16,1,108696,False,9,173
16,125497056,2017-08-16,1,108698,False,9,176
17,125497057,2017-08-16,1,108701,True,9,176
18,125497058,2017-08-16,1,108786,False,7,236
19,125497059,2017-08-16,1,108797,True,12,2
20,125497060,2017-08-16,1,108831,False,28,166
21,125497061,2017-08-16,1,108833,False,10,168
22,125497062,2017-08-16,1,108862,False,12,40
23,125497063,2017-08-16,1,108952,False,7,226
24,125497064,2017-08-16,1,111223,False,12,22
25,125497065,2017-08-16,1,111397,False,12,47
26,125497066,2017-08-16,1,112830,False,12,30
27,125497067,2017-08-16,1,114778,False,12,10
28,125497068,2017-08-16,1,114790,True,12,2
29,125497069,2017-08-16,1,114799,False,25,250
...,...,...,...,...,...,...,...
3370434,128867474,2017-08-31,54,2127921,False,12,17
3370435,128867475,2017-08-31,54,2127992,False,12,17
3370436,128867476,2017-08-31,54,2128628,False,3,72
3370437,128867477,2017-08-31,54,2128799,False,3,81
3370438,128867478,2017-08-31,54,2129334,False,12,59
3370439,128867479,2017-08-31,54,2129350,False,12,59
3370440,128867480,2017-08-31,54,2129387,False,12,45
3370441,128867481,2017-08-31,54,2129515,False,12,29
3370442,128867482,2017-08-31,54,2129616,False,3,73
3370443,128867483,2017-08-31,54,2129678,False,12,19
3370444,128867484,2017-08-31,54,2129786,False,12,10
3370445,128867485,2017-08-31,54,2129790,False,12,65
3370446,128867486,2017-08-31,54,2129892,False,12,63
3370447,128867487,2017-08-31,54,2129994,False,12,63
3370448,128867488,2017-08-31,54,2130131,False,12,63
3370449,128867489,2017-08-31,54,2130219,False,12,65
3370450,128867490,2017-08-31,54,2130265,False,12,65
3370451,128867491,2017-08-31,54,2130352,False,12,65
3370452,128867492,2017-08-31,54,2130474,False,12,42
3370453,128867493,2017-08-31,54,2130521,False,12,27
3370454,128867494,2017-08-31,54,2130526,False,12,19
3370455,128867495,2017-08-31,54,2130553,False,22,95
3370456,128867496,2017-08-31,54,2131010,False,22,98
3370457,128867497,2017-08-31,54,2131572,False,12,0
3370458,128867498,2017-08-31,54,2131699,False,12,0
3370459,128867499,2017-08-31,54,2132163,False,12,27
3370460,128867500,2017-08-31,54,2132318,False,12,0
3370461,128867501,2017-08-31,54,2132945,False,12,15
3370462,128867502,2017-08-31,54,2132957,False,12,45
3370463,128867503,2017-08-31,54,2134244,False,22,103

In [ ]:
item_2017_test.reindex()

In [ ]:
item_2017_train = pd.merge(df_2017, df_items[['item_nbr', 'family_nbr', 'class_nbr']], how='left', on=['item_nbr'])
item_2017_train.set_index(['store_nbr', 'item_nbr', 'date'])

item_2017_test = pd.merge(df_test, df_items[['item_nbr', 'family_nbr', 'class_nbr']], how='left', on=['item_nbr'])
item_2017_test.reindex(item_2017_train.index)

In [ ]:
def getItemCategory(df):
    df

In [68]:
df_items['family']

0              GROCERY I
1              GROCERY I
2               CLEANING
3              GROCERY I
4           BREAD/BAKERY
5              GROCERY I
6              GROCERY I
7              GROCERY I
8              GROCERY I
9              GROCERY I
10             GROCERY I
11             GROCERY I
12             GROCERY I
13             GROCERY I
14             GROCERY I
15                  DELI
16                  DELI
17                  DELI
18              CLEANING
19             GROCERY I
20               POULTRY
21                  EGGS
22             GROCERY I
23              CLEANING
24             GROCERY I
25             GROCERY I
26             GROCERY I
27             GROCERY I
28             GROCERY I
29         PERSONAL CARE
              ...
4070           GROCERY I
4071           BEVERAGES
4072           BEVERAGES
4073           GROCERY I
4074           GROCERY I
4075           GROCERY I
4076           GROCERY I
4077           BEVERAGES
4078           GROCERY I
4079           GROCERY I
4080           GROCERY I
4081           GROCERY I
4082           GROCERY I
4083           GROCERY I
4084           GROCERY I
4085           GROCERY I
4086           GROCERY I
4087           GROCERY I
4088           GROCERY I
4089           GROCERY I
4090    LIQUOR,WINE,BEER
4091    LIQUOR,WINE,BEER
4092           GROCERY I
4093           GROCERY I
4094           GROCERY I
4095           GROCERY I
4096           GROCERY I
4097           GROCERY I
4098           BEVERAGES
4099    LIQUOR,WINE,BEER
Name: family, Length: 4100, dtype: object

In [72]:
t = pd.concat([df_items['family']] * 4)
t

0              GROCERY I
1              GROCERY I
2               CLEANING
3              GROCERY I
4           BREAD/BAKERY
5              GROCERY I
6              GROCERY I
7              GROCERY I
8              GROCERY I
9              GROCERY I
10             GROCERY I
11             GROCERY I
12             GROCERY I
13             GROCERY I
14             GROCERY I
15                  DELI
16                  DELI
17                  DELI
18              CLEANING
19             GROCERY I
20               POULTRY
21                  EGGS
22             GROCERY I
23              CLEANING
24             GROCERY I
25             GROCERY I
26             GROCERY I
27             GROCERY I
28             GROCERY I
29         PERSONAL CARE
              ...
4070           GROCERY I
4071           BEVERAGES
4072           BEVERAGES
4073           GROCERY I
4074           GROCERY I
4075           GROCERY I
4076           GROCERY I
4077           BEVERAGES
4078           GROCERY I
4079           GROCERY I
4080           GROCERY I
4081           GROCERY I
4082           GROCERY I
4083           GROCERY I
4084           GROCERY I
4085           GROCERY I
4086           GROCERY I
4087           GROCERY I
4088           GROCERY I
4089           GROCERY I
4090    LIQUOR,WINE,BEER
4091    LIQUOR,WINE,BEER
4092           GROCERY I
4093           GROCERY I
4094           GROCERY I
4095           GROCERY I
4096           GROCERY I
4097           GROCERY I
4098           BEVERAGES
4099    LIQUOR,WINE,BEER
Name: family, Length: 16400, dtype: object

In [73]:
df_store

    store_nbr  big_city  middle_city  little_city
0           1      True        False        False
1           2      True        False        False
2           3      True        False        False
3           4      True        False        False
4           5     False         True        False
5           6      True        False        False
6           7      True        False        False
7           8      True        False        False
8           9      True        False        False
9          10      True        False        False
10         11     False        False         True
11         12     False        False         True
12         13     False        False         True
13         14     False         True        False
14         15     False         True        False
15         16     False         True        False
16         17      True        False        False
17         18      True        False        False
18         19     False        False         True
19         20      True        False        False
20         21     False         True        False
21         22     False        False         True
22         23     False         True        False
23         24      True        False        False
24         25     False        False         True
25         26      True        False        False
26         27     False        False         True
27         28      True        False        False
28         29      True        False        False
29         30      True        False        False
30         31     False        False         True
31         32      True        False        False
32         33     False         True        False
33         34      True        False        False
34         35     False        False         True
35         36     False        False         True
36         37     False         True        False
37         38     False         True        False
38         39     False         True        False
39         40     False         True        False
40         41     False         True        False
41         42     False         True        False
42         43     False         True        False
43         44      True        False        False
44         45      True        False        False
45         46      True        False        False
46         47      True        False        False
47         48      True        False        False
48         49      True        False        False
49         50     False         True        False
50         51      True        False        False
51         52     False         True        False
52         53     False         True        False
53         54     False        False         True

In [2]:
df_store = pd.read_csv('database/stores.csv')
df_store

    store_nbr           city                           state type  cluster
0           1          Quito                       Pichincha    D       13
1           2          Quito                       Pichincha    D       13
2           3          Quito                       Pichincha    D        8
3           4          Quito                       Pichincha    D        9
4           5  Santo Domingo  Santo Domingo de los Tsachilas    D        4
5           6          Quito                       Pichincha    D       13
6           7          Quito                       Pichincha    D        8
7           8          Quito                       Pichincha    D        8
8           9          Quito                       Pichincha    B        6
9          10          Quito                       Pichincha    C       15
10         11        Cayambe                       Pichincha    B        6
11         12      Latacunga                        Cotopaxi    C       15
12         13      Latacunga                        Cotopaxi    C       15
13         14       Riobamba                      Chimborazo    C        7
14         15         Ibarra                        Imbabura    C       15
15         16  Santo Domingo  Santo Domingo de los Tsachilas    C        3
16         17          Quito                       Pichincha    C       12
17         18          Quito                       Pichincha    B       16
18         19       Guaranda                         Bolivar    C       15
19         20          Quito                       Pichincha    B        6
20         21  Santo Domingo  Santo Domingo de los Tsachilas    B        6
21         22           Puyo                         Pastaza    C        7
22         23         Ambato                      Tungurahua    D        9
23         24      Guayaquil                          Guayas    D        1
24         25        Salinas                     Santa Elena    D        1
25         26      Guayaquil                          Guayas    D       10
26         27          Daule                          Guayas    D        1
27         28      Guayaquil                          Guayas    E       10
28         29      Guayaquil                          Guayas    E       10
29         30      Guayaquil                          Guayas    C        3
30         31       Babahoyo                        Los Rios    B       10
31         32      Guayaquil                          Guayas    C        3
32         33        Quevedo                        Los Rios    C        3
33         34      Guayaquil                          Guayas    B        6
34         35         Playas                          Guayas    C        3
35         36       Libertad                          Guayas    E       10
36         37         Cuenca                           Azuay    D        2
37         38           Loja                            Loja    D        4
38         39         Cuenca                           Azuay    B        6
39         40        Machala                          El Oro    C        3
40         41        Machala                          El Oro    D        4
41         42         Cuenca                           Azuay    D        2
42         43     Esmeraldas                      Esmeraldas    E       10
43         44          Quito                       Pichincha    A        5
44         45          Quito                       Pichincha    A       11
45         46          Quito                       Pichincha    A       14
46         47          Quito                       Pichincha    A       14
47         48          Quito                       Pichincha    A       14
48         49          Quito                       Pichincha    A       11
49         50         Ambato                      Tungurahua    A       14
50         51      Guayaquil                          Guayas    A       17
51         52          Manta                          Manabi    A       11
52         53          Manta                          Manabi    D       13
53         54      El Carmen                          Manabi    C        3